.dataContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
}
.inputFields {
  margin-left: 75px;
  margin-bottom: 5px;
}

.labels {
  text-align: left;
}
form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 18px;
}
